<h1>Hello dear subscriber! {{username}}</h1>
<h2>Thanks for subscribing to Inbook. To confirm your account, use this link
  below:
</h2>

<p>
  <a href="{{url}}" style="color: rgb(59, 59, 226);">Confirm</a>
</p>